/app/bootstrap.php.cache
/app/config/apache2.conf
/app/config/build.yml
/app/config/environment
/app/config/parameters.yml
/app/Resources/assets/css/app.css
/app/Resources/assets/css/app.css.map
/bin/*
!bin/console
!bin/symfony_requirements
/build/
/build.custom.properties
/web/bundles/
/web/css/
/web/fonts/
/web/js/
/web/bower/*
!web/bower/.gitkeep
/node_modules/
/phpunit.xml
/var/
!var/logs/.gitkeep
!var/cache/.gitkeep
/vendor/
/web/assets/