{% extends '::base.html.twig' %}

{% block body %}
    <h2>Archive</h2>
    <p>A compiled archive of the things we accomplished!</p>

    <h3>Heroic Kil'Jaeden <small>2017-11-01</small></h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0Zrp7oOAHMo" frameborder="0" allowfullscreen></iframe>
{% endblock %}