{% extends '::base.html.twig' %}

{% block body %}
    <h2>Biography</h2>
    <p>Minerva was formed during Burning Crusade on Ravenholdt as a home for like-minded individuals. Originally set up by Tembaco and Onnaaran, it became a guild brimming with energy and a thirst for PVE and PVP alike. The guild unfortunately fizzled out due to people leaving the game at the end of the Burning Crusade expansion.</p>
    <p>The guild remained dormant until the Wrath of the Lich King expansion when, in February 2009, the guild was reinvigorated by Onnaraan (on his warrior, Links) and Zeldina. The pair were joined by some familiar faces most notable Tembaco, Eirphire and Jayanna. Together they developed the guild into a high profile guild on the server. They participated in all aspects of the game, and even developed a server wide radio station, which was hosted by a number of figures from both horde and alliance.  It was during this time that the guild lost a great friend, Andrew Lynam tragically lost his battle to cancer, aged just 17. The guild hold a vigil at Uthers Tomb every year in his memory.</p>
    <p>Ravenholdt slowly died out, with all of the main faces on the server dispersing to more populated realms. During the Mists of Pandaria expansion the decision was made to move to Sylvanas.</p>
    <p>So with this, Zeldina, Links, Lifeblind, Kimmey, Eirphire, Tembaco, Droozid, Naidiana, Jayanna, Amylira, Gryllis and Maha (along with many more) upped sticks and moved in pursuit of expanding further into raiding.</p>
    <p>The guild continues to go from strength to strength, gaining members and unfortunately losing a few regulars along the way.</p>
    <p>Today the guild boasts an extremely sociable environment that has spanned almost a decade and seeps out into real life events as well as in game. The core of the guild has remained over time, but has also been expanded to include “new” core members such as officers: Muppi & Moonfist and regular raiders: Assasinbich, Risingtied & Destructed.</p>
    <p>We strive for a fun, friendly environment away from elitism where we can grow together in the company of true friends, raiding at a pace that suits us all.</p>
{% endblock %}