{% extends '::base.html.twig' %}

{% block body %}
    <h2>Streams</h2>
    <p>On november 25, we will be hosting a 24-hour streaming session, in order raise money for two charities. More details will be announced here soon.</p>
    <p>In the meantime, check out our donationpage <a href="http://uk.virginmoneygiving.com/minerva" target="_blank">here</a>!</p>
{% endblock %}