<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minerva - Sylvanas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/app.css" />
    {% endblock %}
    <script src="/js/modernizr.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<header class="header">

    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="main-menu">
        {#<div class="top-bar-left">#}
            {#<ul class="dropdown menu" data-dropdown-menu>#}
                {#<li class="menu-text">Minerva - Sylvanas</li>#}
            {#</ul>#}
        {#</div>#}
        <div class="top-bar-right">
            <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
                <li class="has-submenu">
                    <a href="#">Account</a>
                    {{ knp_menu_render('account') }}
                </li>
            </ul>
        </div>
    </div>

    <h1 class="headline"><img src="/images/header_shield.png" width="150" height="150"></h1>
    <ul class="header-subnav">
        <li><a href="#" class="is-active">Roster</a></li>
        <li><a href="#" class="right">About</a></li>
        <li><a href="#" class="right">Progress</a></li>
        <li><a target="_blank" href="http://zurb.com/responsive">Apply</a></li>
        <li><a href="#" class="right">Twitch</a></li>
    </ul>
</header>

<main>
    <div class="row">
        <div class="large-12 columns" style="background-color: darkgoldenrod">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="#0">Home</a></li>
                    <li><a href="#0">Some page</a></li>
                    <li class="disabled">disabled</li>
                    <li>
                        <span class="show-for-sr">Current: </span> Current page
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row mainContent">
        <div class="large-8 large-offset-2 columns" style="background-color: red">{% block body %}{% endblock %}</div>
    </div>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="row column full-width">
        <p>copyright &copy; 2017 minerva blablabla</p>
    </div>
    <div class="row full-width">
        <div class="column large-4">something</div>
        <div class="column large-4">over</div>
        <div class="column large-4">here</div>
    </div>
</footer>

{% block javascripts %}
    <script src="/js/libs.js"></script>
    <script src="/js/common.js"></script>
{% endblock %}
</body>
</html>