<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minerva - Sylvanas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/app.css" />
    {% endblock %}
    <script src="/js/modernizr.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Minerva - Sylvanas</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="has-submenu">
                <a href="#">Account</a>
                {{ knp_menu_render('account') }}
            </li>
        </ul>
    </div>
</div>

<main>
    {% block body %}{% endblock %}
</main>
<footer>
</footer>
{% block javascripts %}
    <script src="/js/libs.js"></script>
    <script src="/js/common.js"></script>
{% endblock %}
</body>
</html>