<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minerva - Sylvanas WoW EU{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/app.css" />
    {% endblock %}
    <script src="/js/modernizr.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<header>

</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
</footer>
{% block javascripts %}
    <script src="/js/libs.js"></script>
    <script src="/js/common.js"></script>
{% endblock %}
</body>
</html>