$header-bg: $black;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .15s ease-in-out;

$primary-color: #036;
$secondary-color: #f3c;

$menu-background: $mine-shaft;
$label-color: $zorba;
$background-color: $cod-gray;

