$red: #ff0000;
$white: #ffffff;
$zorba: #9D968D;
$regal-blue: #003C71;
$lima: #78be20;
$frost: #f1f8e8;
$black: #000000;
$teal-blue: #074E68;
$mine-shaft: #222222;

$primary-color: #036;
$secondary-color: #f3c;

$label-color: $zorba;