/**
 * Main defining stylesheet
 *
 * @author Pascal Vervest <pascalvervest@gmail.com>
 */

body, html {
  background-color: $black;
}

.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 0;

  .headline {
    color: #ffe;
    padding-top: 2rem;
  }

  .main-menu {
    background-color: $menu-background;
  }
}
//
//.title-bar {
//  background: $menu-background;
//  padding: 0.9rem;
//}
////
////.title-bar {
////  padding: 0 .5rem;
////}
////
////.menu-icon,
////.title-bar-title {
////  position: relative;
////  top: 10px;
////}
////

/* Medium-Up Navigation */
@media only screen and (min-width: 40rem) {

  .top-bar {
    background: $menu-background;
    padding: 0;

    ul {
      background: $menu-background;

      li {
        background: $menu-background;

        a {
          padding: $subnav-link-padding 1rem;
          font-size: $subnav-font-size;
          color: #ffe;
          text-transform: uppercase;
          display: block;
          font-weight: bold;
          letter-spacing: 1px;
          transition: $transition;

          &.is-active {
            background: rgba(250, 250, 250, $subnav-link-opacity);
          }

          &:hover {
            background: rgba(250, 250, 250, $subnav-link-opacity);
            transition: $transition;
            color: #ffe;
          }
        }
      }
    }
  }
}
////
////.dropdown.menu .submenu {
////  border: none;
////}
////
////.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
////  border-color: #fff transparent transparent;
////}
////
////.is-drilldown-submenu-parent>a::after {
////  border-color: transparent transparent transparent #fff;
////}
////
////.js-drilldown-back::before {
////  border-color: transparent #fff transparent transparent;
////}
////
main {

  background: url('../../../../web/images/background.png') no-repeat top center;
  background-color: $black;
  padding-top: 1em;

  .mainContent {

    .cell {
      padding: 0 1em 0 1em;
    }

    .content {
      background-color: $black;
      border: 1px solid #444444;
      color: #666666;
    }

    .sidebar {
      background-color: $black;
      border: 1px solid #444444;
      color: #666666;
    }
  }
}
.footer {

  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $black;

  .grid-container > .grid-x {
    border: 1px solid #444;
    background-color: $black;
    text-align: center;

    color: #444444;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 1px;
  }
}
.breadBar {
  margin-top: 0;
  margin-bottom: 1em;

  background-color: $black;
  border: 1px solid #444;

  .breadcrumbs {
    margin: 0;

    li {
      color: green;
    }
  }
}

