body, html {
  background-color: $white;
}

.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 0;
  padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);

  .headline {
    color: #ffe;
    padding-top: 2rem;
  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  background-color: #222222;

  li {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-link-padding 1rem;
      font-size: $subnav-font-size;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;

      &.is-active {
        background: rgba(250,250,250,$subnav-link-opacity);
      }

      &:hover {
        background: rgba(250,250,250,$subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}

.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

      a {
        color: #fff;
      }
    }
  }
}

.menu-text {
  color: #fff;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: 1px solid #4e4e4e;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}

main {

  background: url('../../../../web/images/background.png') no-repeat top center;
  background-color: $black;
  padding-top: 1em;

  .mainContent {


    .content {
      background-color: $black;
      border: 1px solid #444444;
      color: #666666;
    }

    .sidebar {
      background-color: $black;
      border: 1px solid #444444;
      color: #666666;
    }
  }
}

.full-width {
  max-width: 1400px;
}

$text-color: #fff;

.footer {
  background-color: $mine-shaft;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.breadBar {
  margin-top: 0;
  margin-bottom: 1em;

  background-color: $black;
  border: 1px solid #444;

  .breadcrumbs {
    margin: 0;

    li {
      color: green;
    }
  }
}
